<!DOCTYPE html>
<html lang="en">

<body>
{% block content %}
    <header>
        <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                      <a style="color:fuchsia;font-size:40px;" class="navbar-brand" href="{% url 'rides:homepage' %}">HOME</a>
                </div>
                <div class="navigation">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{% url 'rides:homepage' %}">Home</a></li>
                                <li><a href="{% url 'rides:register_as_user' %}">Register an account</a></li>
                                <li><a href="{% url 'rides:login' %}">Login</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="contact" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="heading">
                        <h3><span>Login</span></h3>
                    </div>
                    <div class="sub-heading">
                        <p>
                            Start Your Ride!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-md-8 col-md-offset-4">
                {% if message %}
                    {{ message }}
                {% endif %}

                {% if next %}
                    <p>Hey, you cannot access that page.</p>
                {% endif %}
                <div class="form-wrapper">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="field-wrapper">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="button-wrapper submit">
                            <p><input class="btn btn-lg btn-theme pull-left" type="submit" value="Login"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
</body>
</html>