<!DOCTYPE html>
<html lang="en">

        {% if message %}

        {{ message }}
                {% endif %}

<body>
{% block content %}
    <header>
        <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="navigation">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{% url 'rides:homepage' %}">Home</a></li>
                                <li><a href="{% url 'rides:register' %}">Register an account</a></li>
                                <li><a href="{% url 'rides:login' %}">Login</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="contact" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="heading">
                        <h1><span>Registration</span></h1>
                    </div>
                    <div class="sub-heading">
                        <h1>
                            Join Ride Share today!
                        </h1>
                    </div>
                </div>
            </div>
        </div>



            <div class="container">
            <div class="col-md-8 col-md-offset-4">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                     <p style="color:red">Notice: You need to  Input password again for authentication before submission!</p>
                    <input class="btn btn-lg btn-theme pull-left" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </section>

{% endblock %}
</body>
</html>